//- @file Head

	@description Head Segment for Edtyro Design

	@author Jeevan Prakash Pant <jp@edtyro.com>
	@version 1.0.0
	@copyright Edtyro Private Limited, 2020

meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href=baseUrl+"img/fav.png" rel="icon")

//- edtyro fonts
link(rel='stylesheet', href=baseUrl+'fonts/edtyro-primary.min.css')

//- third party plugin usage
link(rel='stylesheet', href=baseUrl+'vendors/bootstrap/bootstrap-grid.min.css')

//- self created css
link(rel='stylesheet', href=baseUrl+'css/main.min.css')
