//- @file Scripts

	@description Common Scripts for Edtyro Design are placed here

	@author Jeevan Prakash Pant <jp@edtyro.com>
	@version 1.0.0
	@copyright Edtyro Private Limited, 2020

//- third party imports
script(type='text/javascript', src=baseUrl+'vendors/jquery/jquery.min.js')

//- custom import demonstrated in app file (common js for all files are placed here)
