//- @file inputPassword

	@description password input

	@author Jeevan Prakash Pant <jp@edtyro.com>
	@version 1.0.0
	@copyright Edtyro Private Limited, 2020


//- @mixin inputPassword

	@param {Object} p password input paramaters
	@param {String} p.icon icon for password
	@param {String} p.class class for password input
	@param {String} p.name name for password input  
	@param {String} p.id id for password input
	@param {String} p.value value for password input

mixin inputPassword(p)

	- if(!p.icon){
	-	p.icon = 'fas fa-key' };

	.input-group.input-group-icon
		input(type='password', name=p.name, placeholder=p.placeholder)
		.input-icon
			i(class=p.icon)
