//- @file form

	@description assembles all input for single import

	@author Jeevan Prakash Pant <jp@edtyro.com>
	@version 1.0.0
	@copyright Edtyro Private Limited, 2020

include ./_inputDatePicker
include ./_inputText
include ./_inputPassword
include ./_inputEmail