form#basic-details-edit(method="post", action="")
	input(name='_csrf', type='hidden', value=csrfToken)
	input(type="hidden", name="_page", value = 'basic-details')
	.form-row.form-headbar
		.col-half.status-message
		.col-half
			.form-buttons
				ul
					li.bg-btn-et-green
						a(title='Save', onclick='document.getElementById("basic-details-edit").submit();')
							i.et.et_save
	.form-row
		h4 Conditionals
		.col-half
			.input-group
				if item.publish
					input#publish(type='checkbox' name='publish' checked)
				else
					input#publish(type='checkbox' name='publish')
				label(for='publish')
					| Publish
		.col-half
			.input-group
				if item.publishApi
					input#publishApi(type='checkbox' name='publishApi' checked)
				else
					input#publishApi(type='checkbox' name='publishApi')
				label(for='publishApi')
					| Publish API
	.divider
	.form-row
		h4 Name
		+inputText({
			name: 'name',
			placeholder: 'name',
			icon: 'et et_id',
			value: item.name
		})
	.form-row
		.col-half
			h4 Email
			+inputText({
				name: 'email',
				placeholder: 'Email',
				icon: 'et et_message',
				value: item.email
			})
		.col-half
			h4 Phone Number
			+inputText({
				name: 'phoneNo',
				placeholder: 'Phone Number',
				icon: 'et et_phone',
				value: item.phoneNo
			})
